* {
	margin: 0;
	padding: 0;
	color: black;
}

body {
	background-color: #FFFFFF;
}

/* NAVBAR */

.navbar {
	background-color: #FFEDFA;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	margin: 0;
	filter: drop-shadow(0px 3px 20px gray); /* generated here: https://webcode.tools/css-generator/drop-shadow */
	overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
	box-sizing: border-box;
    z-index: 1000;
}

.navbar-left {
	display: flex;
	gap: 20px;
}

.navbar-left a, .navbar-right a {
	font-family: "Signika Negative", Arial, Helvetica, sans-serif;
  	font-size: 18px;
  	font-weight: bold;
  	font-style: italic;
	text-decoration: none;
	color: black;
}

.navbar-left a:hover, .navbar-right a:hover {
	color: #DE3163;
	transition: color 0.3s ease;
} 

.navbar img {
	height: 50px;
}

/* navbar: dynamic sizing */
@media (max-width: 400px) {
	.navbar {
		justify-content: flex-start;
		gap: 20px;
		padding: 10px 20px;
	}

	.navbar img {
		order: -1;
	}

	.navbar a {
		font-size: 14px;
	}
}

/* MAINBODY */
.main {
	margin: 50px;
	margin-top: 125px;
	margin-bottom: 20px;
	display: block;
}


/* FEATURE */
.feature {
	border-radius: 50px;
	background-image: url(./assets/feature-bg.png);
	height: 500px;
	background-size: cover; 
	background-position: left; 
	background-repeat: no-repeat; 
	margin: 0;
	padding: 50px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.feature img { /* only show this when screen size is less than 1100px */
	display: none;
}

.feature h1 {
	margin: 0;
	padding: 0;
	margin-left: 500px;
	font-family: "Oleo Script Swash Caps", serif;
  	font-size: 46px;
	color: #DE3163;
}

.feature p {
	margin: 0;
	padding: 0;
	margin-left: 500px;
	font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  	font-size: 22px;
}

/* feature: dynamic sizing */
@media (max-width: 1100px) {
	.feature {
		border: 5px solid #F1EEEB;
		background-image: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		box-sizing: content-box;
		height: auto;
	}

	.feature img { 		
		display: block;
		height: 200px;
		width: 200px;
		border-radius: 50%;
		margin-bottom: 20px;
	}

	.feature h1 {
		margin: 0;
		padding: 0;
		font-size: 28px;
		margin-bottom: 10px;
	}
	
	.feature p {
		margin: 0;
		padding: 0;
		font-size: 18px;
	}
}

@media (max-width: 800px) {
	.feature p {
		font-size: 14px;
	}

	.feature img { 		
		display: block;
		height: 125px;
		width: 125px;
	}
}

/* PROJECTS */
.projects {
	margin: 0;
	padding: 0;
	padding-top: 50px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.projects-header {
	display: flex;
	align-items: center;
	gap: 20px;
}

.projects-header img {
	height: 100px;
	width: auto;
}

.projects-header h1 {
	margin: 0;
	padding: 0;
	font-family: "Oleo Script Swash Caps", serif;
  	font-size: 46px;
	color: #DE3163;
}

.project {
	margin: 0;
	padding: 50px;
	display: flex;
	gap: 30px;
	border-radius: 50px;
}

#proj-1 {
	background-image: linear-gradient(to left, #E195AB, #FFFFFF);
}

#proj-2 {
	background-image: linear-gradient(to right, #CCDF92, #FFFFFF);
}

#proj-3 {
	background-image: linear-gradient(to left, #FFEDFA, #FFFFFF);
}

.project img {
	height: 300px;
}

#proj-1 img:hover {
	filter: drop-shadow(5px 5px 25px #FFEDFA);
	transition: 0.5s ease;
}

#proj-2 img:hover {
	filter: drop-shadow(5px 5px 25px #537053);
	transition: 0.5s ease;
}

.project-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.project-content h3 {
	font-family: "Signika Negative", Arial, Helvetica, sans-serif;
  	font-size: 36px;
  	font-weight: bold;
  	font-style: italic;
}

.project-content a {
	text-decoration: none;
}

.project-content a:hover {
	text-decoration: none;
	color: #537053;
	transition: color 0.3s ease;
}

.project-content p {
	font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  	font-size: 22px;
}

/* projects: dynamic sizing */
@media (max-width: 1200px) {
	.project img {
		height: 200px;
	}

	.project-content p {
		font-size: 18px;
	}
}

@media (max-width: 900px) {
	.project {
		flex-direction: column;
	}

	.project a {
		order: -1;
		align-self: center;
	}

	.project img {
		height: 140px;
	}

	.project-content p {
		font-size: 14px;
	}
}

@media (max-width: 400px) {
	.project {
		flex-direction: column;
	}

	.projects img {
		order: -1;
		height: 100px;
		align-self: center;
	}

	.project-content p {
		font-size: 14px;
	}

	.project-content h3 {
		font-size: 24px;
	}
}

@media (max-width: 1100px) {
	.projects-header h1 {
		font-size: 28px;
	}

	.projects-header img {
		height: 50px;
	}
}

@media (max-width: 700px) {
	.projects-header img {
		display: none;
	}

	#proj-1 {
		background-image: linear-gradient(#E195AB, #FFFFFF);
	}
	
	#proj-2 {
		background-image: linear-gradient(#CCDF92, #FFFFFF);
	}
	
	#proj-3 {
		background-image: linear-gradient(#FFEDFA, #FFFFFF);
	}
}

/* SKILLS */
.skills {
	margin: 0;
	padding: 0;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.skills img {
	height: 75px;
	align-self: center;
	width: auto;
}

.skills-content {
	padding: 0 50px;
	padding-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px
}

.skills-content h1 {
	margin: 0;
	padding: 0;
	font-family: "Oleo Script Swash Caps", serif;
  	font-size: 46px;
	color: #DE3163;
}

.skills-list {
	list-style: none;
	font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  	font-size: 22px;
}

/* skills: dynamic sizing */
@media (max-width: 1100px) {
	.skills-content {
		padding: 0 20px;
	}
	.skills img {
		height: 50px;
	}
}

@media (max-width: 800px) {
	.skills-content {
		gap: 20px;
	}
	.skills-content h1 {
		font-size: 28px;
	}

	.skills-list {
		font-size: 14px;
	}
}

@media (max-width: 400px) {
	.skills img {
		height: 35px;
	}
}

.top {
	display: flex;
	flex-direction: row-reverse;
	padding: 0;
	padding-top: 15px;
	box-sizing: border-box;
	font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color: #E195AB;
}

.top:hover {
	color: #CCDF92;
	transition: color 0.3s ease;
}

@media (max-width: 550px) {
	.top {
		padding: 30px 0px 15px 0px;
	}
}

/* FOOTER */
.footer {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	background-color: #E195AB;
	filter: drop-shadow(0px 3px 20px gray);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer img {
	height: 75px;
}

.footer-content {
	display: flex;
	align-items: center;
}

.footer-content p {
	font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  	font-size: 14px;
	color: #DE3163;
}

.footer-content em {
	color: #DE3163;
}

.footer > p {
	font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  	font-size: 14px;
	padding-right: 10px;
	color: #DE3163;
}

/* footer: dynamic sizing */
@media (max-width: 540px) {
	.footer, .footer-content {
		flex-direction: column;
		gap: 5px;
	}

	.footer img {
		height: 30px;
	}

	.footer-content p {
		font-size: 10px;
	}

	.footer-text {
		display: flex;
		gap: 5px;
		flex-wrap: wrap;
	}
	
	.footer > p {
		font-size: 10px;
		padding-right: 10px;
	}
}

/* ANIMATIONS */
/* reference: https://www.w3schools.com/css/css3_animations.asp */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body {
	animation: fadeIn 1s ease-out; 
}